<div>
    <ul>
        <li class="logo"><a href="">杰克有茶</a></li>
        <li class="nav_li"><a href="/blog">博客列表</a></li>
        <li class="nav_li"> | </li>
        <li class="nav_li"><a href="https://web.okjike.com/u/C027E21D-DFD6-4F88-AF40-31871E1FB6F4"><img class="social_icon" src="jike.png" /> </a></li>
        <li class="nav_li"><a href="https://space.bilibili.com/8911717"><img class="social_icon" src="bilibili.png" /> </a></li>
        <li class="nav_li"><a href="https://github.com/chenwansal"><img class="social_icon" src="github.png" /> </a></li>
    </ul>
</div>