.body {
    width: 100%;
}

.category {
    max-width: 360px;
    display: block;
    float: left;
    margin-top: 0px;
    padding-right: 20px;
    padding-top: 10px;
    border-right: 10px solid #999;
}

.category li {
    margin-top: 5px;
}

.category li a {
    text-decoration: underline;
    cursor: pointer;
}

.content {
    display: block;
    padding-left: 360px;
    padding-top: 80px;
}